html,body{
  padding:0;
  margin:0;
  height:100%;
  background-color: #eef0f4;
}

img{
  width:180px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  gap: 1px;
}
ul{
 width:350px;
 align-content: center;
 display: flex;
 flex-direction: column;
 text-align: center;
 font-size: 20px;
 list-style-type: none;
 gap:15px;
 
}
button {
   cursor:pointer;
   user-select: none;
   font-size: 20px;
   margin-top:10px;
   
}
button:hover{
   background-color: #eaa25f;
  }
  .container-2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
  }
.submit {
font-size: 20x;
border-radius: 8px;
  }